<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active"
       id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      Builder
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      Json
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
      Renderer
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="m-2">
      <label class="mx-2" for="form-select">Tipo modulo: </label>
      <select class="form-control my-2" id="form-select"
              [(ngModel)]="form.display" style="display: inline-block; width: 150px;" (change)="onChangeType($event)">
        <option value="form">Form</option>
        <option value="wizard">Wizard</option>
      </select>
      <form-builder [form]="form" (change)="onChange($event)"></form-builder>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="m-2 well jsonviewer">
      <pre id="json"><code class="language-json" #json></code></pre>
    </div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
<!--    <formio [form]="formJson"></formio>-->
    <formio [form]="form" [refresh]="triggerRefresh"></formio>
  </div>
</div>

