<h1 class="text-center mb-4">Angular Form.io Editor</h1>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active"
       id="builder-tab" data-toggle="tab" href="#builder" role="tab" aria-controls="builder" aria-selected="true">
      Builder
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
      id="json-editor-tab" data-toggle="tab" href="#json-editor" role="tab" aria-controls="json-editor" 
      aria-selected="false">
      Json
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
        id="renderer-tab" data-toggle="tab" href="#renderer" role="tab" aria-controls="renderer" aria-selected="false">
      Renderer
    </a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="builder" role="tabpanel" aria-labelledby="builder-tab">
    <div class="m-2">
      <label class="mx-2" for="form-select">Tipo modulo: </label>
      <select class="form-control my-2" id="form-select"
              [(ngModel)]="form.display" style="display: inline-block; width: 150px;" (change)="onChangeType($event)">
        <option value="form">Form</option>
        <option value="wizard">Wizard</option>
      </select>
      <form-builder [form]="form" (change)="onChangeBuilder($event)"></form-builder>
    </div>
  </div>
  <div class="tab-pane fade" id="json-editor" role="tabpanel" aria-labelledby="json-editor-tab">
    <div class="m-2 well jsonviewer">
      <json-editor #jsoneditor [options]="jsonEditorOptions" [data]="form" (change)="onChangeJsonEditor($event)"></json-editor>
    </div>
  </div>
  <div class="tab-pane fade" id="renderer" role="tabpanel" aria-labelledby="renderer-tab">
    <div class="m-2">
      <formio [form]="form" [refresh]="rendererTriggerRefresh"></formio>
    </div>
  </div>

