@import "./styles/bootstrap/css/bootstrap.min.css";
@import '~font-awesome/css/font-awesome.min.css';
@import "~jsoneditor/dist/jsoneditor.min.css";
/* 
  In your app the next import should become
@import "~@davebaol/formio-editor/styles.css";
 */
@import "../dist/formio-editor/styles.css";

.center {
  margin: auto;
  width: 75%;
}

@media (max-width: 1023px){
  .center {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
